/*General layout*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;    
}

/*Background image*/
.container {    
    background-image: url(../images/pexels-pixabay-262347_heroBGV2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 119.95rem;
    height: 56rem;  
    width: 120rem;  
}

/*Banner; navigation & logo*/
header {
    min-height: 120px;
    min-width: 300px;
}

.bannerName {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
}

/*Nav container | uses flexbox & min-height for responsive action*/
.navbar {
    min-height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

/*ul | li items to display inline for 600px+ view*/
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;
}

/*li items | remove bullet points*/
.nav-item {
    list-style: none;
}

/*a items | change color on hover & border hover*/
.nav-link {
    transition: 0.7 ease;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
}

.nav-link:hover {
    border: 1px solid #fff;
    overflow: hidden;
    margin: -1px;
    color: #cfe6f9;
}

/*hamburger div | bars don't display in 600px+ & cursor is pointer on hover*/
.hamburger {
    display: none;
    cursor: pointer;
}

/*Hamburger bars*/
.bar {
    /*The bars must stack so display block*/
    display: block;
    /*Bar width*/
    width: 40px;
    /*Bar height*/
    height: 1px;
    /*So there is a small gap between the bars*/
    margin: 11px auto;
    /*Bars animation*/
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/*Navigation media query*/
@media(max-width: 1050px) {
    .hamburger {
        display: block;
    }

    /*disappears 2nd bar*/
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    /*Animates 1st bar*/
    .hamburger.active .bar:nth-child(1) {
        transform:translateY(12px) rotate(45deg);
    }

    /*Animates 3rd bar*/
    .hamburger.active .bar:nth-child(3) {
        transform:translateY(-12px) rotate(-45deg);
    }

    /*Nav-menu collapse settings so only hamburger shows in small screen*/
    .nav-menu {
        /*Position: fixed ensures that when menu appears it stays in place
        on the screen even when user scrolls, until a link is clicked on*/
        position: fixed;
        /*To hide fullscreen nav links*/
        right: -110%;
        top: 10px;
        gap: 0;
        flex-direction: column;
        background-color: #024d60;
        /*calculates padding to centre menu when it flies out from the right*/
        width: calc(100% - 60px);
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        padding: 20px;
        margin: 16px 0;
        font-size: 1.75rem;
    }

    .nav-menu.active {
        right: 0;
    }
}

/*intro page*/
.intro {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
}
#topLine {
    padding-top: 5rem;
    font-size: 7rem;
    font-weight: 400;
    line-height: 0.2;
}

#secondLine {
    font-size: 5rem;
    font-weight: 300;
    line-height: 0.2;
}

/*div surrounding carousel ul, arrows & buttons*/
.carousel {
    height: 60rem;
    width: 50%;
    margin: 0 auto;
}

/*div surrounding carousel ul & arrows*/
.carousel__list-container {
    background: lightskyblue;    
    width: 112%;
}

/*ul containing carousel images*/
.carousel__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*li item that contains the img element*/
.carousel__slide {
    width: 100%;
}

/*left to right arrows*/
.carousel__nav











/*Footer */
footer {
    background-color: #003D4C;
    color: #fbfbed;
}

.footer {
    list-style: none;
}

#end, #privacy {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    margin: auto 0;
}

#end a, #privacy a {
    color: #fbfbed;
}

.top {
    color: #fbfbed;
    text-decoration: none;
}